p {
  color: mediumaquamarine;
  background-color: black;
  margin: 50px;
  padding: 20px;
  border: 3px dashed rebeccapurple;
  border-radius: 10px;
  /* border-width: 2px; */
  /* border-style: solid; */
  border-color: aqua;
}
